@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --logoColor: rgb(230, 250, 225);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.globe {
  border-radius: 50%;
  border: 2px solid white;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 200px;
  transition: 0.5s ease;
  background-color: #2696e9;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header .brand {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  /* display: inline; */
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.9s ease;
}

header .navigation .navigation-items a:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.9s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}

section {
  height: 90vh;
  /* scroll-snap-align: end; */
  margin-top: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  margin-bottom: 40px;
  margin-top: 150px;
}

section p {
  text-transform: uppercase;
  padding: 20px 20px;
  margin: auto;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 4em;
  margin-bottom: 50px;
}

.content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #fff; */
}

.content .image {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .text-box {
  z-index: 222;
  background: white;
  -webkit-background-filter: blur(20px);
  padding: 40px;
  min-width: 400px;
  border: 4px solid #2696e9;
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.section-title {
  font-size: 3em;
  margin-bottom: 80px;
}

.info-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.info {
  width: 700px;
  margin-left: 50px;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background: url(menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0;
  width: 100%;
  padding: 5px 5px;
  background-color: #d8e4ec;
  border-top: 1rem solid;
  display: flex;
  align-items: center;
  z-index: 1001;
  /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
}

header .search-bar-container.active {
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

header .search-bar-container #search-bar {
  width: 400px;
  height: 15px;
  padding: 1rem;
  text-transform: none;
  color: black;
  font-size: 12px;
  border-radius: 5rem;
  border-color: #2696e9;
}

header .search-bar-container label {
  color: #2696e9;
  cursor: pointer;
  font-size: 1.4rem;
}
.bar-label {
  margin-left: 640px;
}

/* PACKAGES SECTION */
.packages {
  background-color: #2696e9;
  width: 100%;
  height: 600px;
  /* margin-bottom: 70px; */
}
.container-02 {
}
.heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  color: #fff;
}
.box-container {
  display: flex;
  color: #fff;
}
.fa-map-marker-alt {
  cursor: pointer;
}
.box {
  margin-left: 60px;
}
.stars {
  color: yellow;
}

button {
  padding: 7px;
  text-transform: uppercase;
}
button a {
  text-decoration: none;
  color: #2696e9;
  font-weight: bold;
}
h4 {
  display: inline-block;
}
.more {
  height: auto;
  margin-bottom: 40px;
}
.more a {
  color: #2696e9;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}
a:before {
  content: "";
  background: black;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.9s ease;
}
a:hover {
  color: black;
}

/* FOOTER */
.foot {
  z-index: 888;
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: #5682a1;
  transition: 0.5s ease;
  height: 10vh;
}

.foot .logo {
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-justify: center;
}

.foot .logo a {
  text-decoration: none;
  color: white;
  scale: 1em;
  transition: all 0.5s;
}

.foot .logo:hover {
  font-size: 1.3em;
}

.foot .copyright {
  font-size: 0.8em;
  color: #fff;
  font-weight: 500;
}

.foot .media-icons {
  transition: 0.5s ease;
}

.foot .media-icons a {
  color: rgb(255, 255, 255);
  font-size: 1.6em;
  margin: 10px;
  transition: 0.3s ease;
}

.foot .media-icons a:hover {
  font-size: 1.9em;
  color: #0e5c97;
}

.foot .media-icons .insta:hover {
  font-size: 2em;
  color: #f52798;
}
