@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --logoColor: rgb(230,250,225);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #9badff;
    box-shadow: inset 0 0 5px black;
    border-radius: 2px;
}


::-webkit-scrollbar-thumb {
    background: rgb(69, 134, 233);    
    box-shadow: inset 0 0 5px black;
    border-radius: 2px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.globe{
    border-radius: 50%;
    border: 2px solid white;
}

header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header.sticky{
    background: #1483D5;
    padding: 15px 100px;
}
  
header .brand{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
  
header .navigation{
    position: relative;
}
  
header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.9s ease;
}
  
header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.9s ease;
}
  
header .navigation .navigation-items a:hover:before{
    width: 100%;
}
  
section{
    padding: 100px 200px;
}
  
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
}
  
.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(3, 96, 251, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
  
.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}
  
.home .content.active{
    display: block;
}
  
.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}
  
.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}
  
.home .content p{
    margin-bottom: 65px;
}
  
.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    transition: 1s;
}

.home .content a:hover{
    
    background: #1680AC;
    color: #fff;
}
  
.foot{
    z-index: 888;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: #5682a1;
    transition: 0.5s ease;
    height: 70px;
}

.foot .logo{
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-justify: center;
}

.foot .logo a{
    text-decoration: none;
    color: white;
    scale: 1em;
    transition: all 0.5s;

}

.foot .logo:hover{
    font-size: 1.3em;
}

.foot .copyright{
    font-size: 0.8em;
    color: #fff;
    font-weight: 500;
}

.foot .media-icons{
    transition: 0.5s ease;
}

  
.foot .media-icons a{
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    margin: 10px;
    transition: 0.3s ease;
}
  
.foot .media-icons a:hover{
    font-size: 1.9em;
    color: #093658;
}

.foot .media-icons .insta:hover{
    font-size: 2em;
    color: #e92626;
}
  
.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}
  
.slider-navigation .navbut{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}
  
.slider-navigation .navbut.active{
    background: #2696E9;
}
  
.slider-navigation .navbut:not(:last-child){
    margin-right: 20px;
}
  
.slider-navigation .navbut:hover{
    transform: scale(1.2);
}
  
.video{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
  
.video.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
  
@media (max-width: 1040px){
    header{
      padding: 12px 20px;
    }
  
    section{
      padding: 100px 20px;
    }
  
    .home .media-icons{
      right: 15px;
    }
  
    header .navigation{
      display: none;
    }
  
    header .navigation.active{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(1, 1, 1, 0.5);
    }
  
    header .navigation .navigation-items a{
      color: #222;
      font-size: 1.2em;
      margin: 20px;
    }
  
    header .navigation .navigation-items a:before{
      background: #222;
      height: 5px;
    }
  
    header .navigation.active .navigation-items{
      background: #fff;
      width: 600px;
      max-width: 600px;
      margin: 20px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
  
    .menu-btn{
      background: url(menu.png)no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: 0.3s ease;
    }
  
    .menu-btn.active{
      z-index: 999;
      background: url(close.png)no-repeat;
      background-size: 25px;
      background-position: center;
      transition: 0.3s ease;
    }
}
  
@media (max-width: 560px){
    .home .content h1{
      font-size: 3em;
      line-height: 60px;
    }
}
